### Task 1: Build and load the dataset

Create a list of dictionaries called `attendance_raw` with exactly 24 records. Each record must include:
1. `student_id` in the format `S001` to `S024`
2. `cohort` as one of `["alpha", "beta", "gamma"]`
3. `attended_sessions` as an integer between 0 and 6
4. `expected_sessions` as the integer 6

Then load the list into a DataFrame named `attendance`. Print the first five rows and call `info()` to confirm the structure and data types.

In [1]:
import random 
import pandas as pd

In [2]:
cohort = ["alpha","beta","gamma"]

def generator(n):
    for i in range(1,n+1):
        yield {
                    "student_id": f"S{i:03d}",
                    "cohort": random.choice(cohort),
                    "attended_sessions": random.randint(0,6),
                    "expected_sessions": 6 
                }  
    
attendance_raw = list(generator(24))

print(attendance_raw)

[{'student_id': 'S001', 'cohort': 'gamma', 'attended_sessions': 6, 'expected_sessions': 6}, {'student_id': 'S002', 'cohort': 'alpha', 'attended_sessions': 6, 'expected_sessions': 6}, {'student_id': 'S003', 'cohort': 'alpha', 'attended_sessions': 2, 'expected_sessions': 6}, {'student_id': 'S004', 'cohort': 'gamma', 'attended_sessions': 5, 'expected_sessions': 6}, {'student_id': 'S005', 'cohort': 'alpha', 'attended_sessions': 1, 'expected_sessions': 6}, {'student_id': 'S006', 'cohort': 'beta', 'attended_sessions': 1, 'expected_sessions': 6}, {'student_id': 'S007', 'cohort': 'beta', 'attended_sessions': 2, 'expected_sessions': 6}, {'student_id': 'S008', 'cohort': 'beta', 'attended_sessions': 0, 'expected_sessions': 6}, {'student_id': 'S009', 'cohort': 'gamma', 'attended_sessions': 0, 'expected_sessions': 6}, {'student_id': 'S010', 'cohort': 'beta', 'attended_sessions': 1, 'expected_sessions': 6}, {'student_id': 'S011', 'cohort': 'alpha', 'attended_sessions': 2, 'expected_sessions': 6}, {'student_id': 'S012', 'cohort': 'beta', 'attended_sessions': 4, 'expected_sessions': 6}, {'student_id': 'S013', 'cohort': 'alpha', 'attended_sessions': 1, 'expected_sessions': 6}, {'student_id': 'S014', 'cohort': 'gamma', 'attended_sessions': 1, 'expected_sessions': 6}, {'student_id': 'S015', 'cohort': 'alpha', 'attended_sessions': 4, 'expected_sessions': 6}, {'student_id': 'S016', 'cohort': 'gamma', 'attended_sessions': 6, 'expected_sessions': 6}, {'student_id': 'S017', 'cohort': 'gamma', 'attended_sessions': 2, 'expected_sessions': 6}, {'student_id': 'S018', 'cohort': 'beta', 'attended_sessions': 3, 'expected_sessions': 6}, {'student_id': 'S019', 'cohort': 'beta', 'attended_sessions': 2, 'expected_sessions': 6}, {'student_id': 'S020', 'cohort': 'alpha', 'attended_sessions': 2, 'expected_sessions': 6}, {'student_id': 'S021', 'cohort': 'alpha', 'attended_sessions': 5, 'expected_sessions': 6}, {'student_id': 'S022', 'cohort': 'alpha', 'attended_sessions': 6, 'expected_sessions': 6}, {'student_id': 'S023', 'cohort': 'gamma', 'attended_sessions': 1, 'expected_sessions': 6}, {'student_id': 'S024', 'cohort': 'alpha', 'attended_sessions': 6, 'expected_sessions': 6}]

In [3]:
attendance = pd.DataFrame(attendance_raw)

In [4]:
attendance[:5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         5 non-null      object
 1   cohort             5 non-null      object
 2   attended_sessions  5 non-null      int64
 3   expected_sessions  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

### Task 2: Set an index and validate alignment

Set `student_id` as the index and store the result in `attendance_indexed`. Create a Series named `excused_absences` with at least 10 student IDs (some IDs must not exist in the DataFrame). Add this Series to `attended_sessions` to create a new column `adjusted_attendance`. Confirm that rows without matching IDs become missing in `adjusted_attendance`. Then fill missing values in `adjusted_attendance` with the original `attended_sessions` and show the updated column.

In [5]:
attendance_indexed = attendance.set_index('student_id')

In [6]:
attendance_indexed

           cohort  attended_sessions  expected_sessions
student_id
S001        gamma                  6                  6
S002        alpha                  6                  6
S003        alpha                  2                  6
S004        gamma                  5                  6
S005        alpha                  1                  6
S006         beta                  1                  6
S007         beta                  2                  6
S008         beta                  0                  6
S009        gamma                  0                  6
S010         beta                  1                  6
S011        alpha                  2                  6
S012         beta                  4                  6
S013        alpha                  1                  6
S014        gamma                  1                  6
S015        alpha                  4                  6
S016        gamma                  6                  6
S017        gamma                  2                  6
S018         beta                  3                  6
S019         beta                  2                  6
S020        alpha                  2                  6
S021        alpha                  5                  6
S022        alpha                  6                  6
S023        gamma                  1                  6
S024        alpha                  6                  6

In [20]:
# Add this Series to attended_sessions to create a new column adjusted_attendance.
excused_absences = pd.Series({
    "S021":1, "S019":3, "S029":2, "S013":1, "S016":2,
    "S014":1, "S022":2, "S089":1, "S003":3, "S023":1
})

In [21]:
attendance_indexed["adjusted_attendance"] = (
    attendance_indexed["attended_sessions"] + excused_absences
)

In [22]:
# Confirm that rows without matching IDs become missing in adjusted_attendance.
print(attendance_indexed[attendance_indexed["adjusted_attendance"].isna()])

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  6                  6                  NaN
S002        alpha                  6                  6                  NaN
S004        gamma                  5                  6                  NaN
S005        alpha                  1                  6                  NaN
S006         beta                  1                  6                  NaN
S007         beta                  2                  6                  NaN
S008         beta                  0                  6                  NaN
S009        gamma                  0                  6                  NaN
S010         beta                  1                  6                  NaN
S011        alpha                  2                  6                  NaN
S012         beta                  4                  6                  NaN
S015        alpha                  4                  6                  NaN
S017        gamma                  2                  6                  NaN
S018         beta                  3                  6                  NaN
S020        alpha                  2                  6                  NaN
S024        alpha                  6                  6                  NaN

In [23]:
# Then fill missing values in adjusted_attendance with the original attended_sessions and show the updated column.
attendance_indexed["adjusted_attendance"] = (
    attendance_indexed["adjusted_attendance"]
    .fillna(attendance_indexed["attended_sessions"])
)

### Task 3: Clean and normalize categories

Introduce a small inconsistency by modifying a few `cohort` values to include extra whitespace and inconsistent casing. Then write pandas code to normalize the `cohort` column by stripping whitespace and converting to lowercase. After cleaning, display the unique cohorts to confirm that the inconsistencies are resolved.

In [24]:
attendance_indexed.loc["S001", "cohort"] = " Alpha"
attendance_indexed.loc["S012", "cohort"] = "BETA "
attendance_indexed.loc["S002", "cohort"] = "  gamma  "
attendance_indexed.loc["S013", "cohort"] = "         AlpHA"
attendance_indexed.loc["S020", "cohort"] = "     beta"

In [25]:
attendance_indexed

,cohort,attended_sessions,expected_sessions,adjusted_attendance
student_id,,,,
S001,Alpha,6,6,6.0
S002,gamma,6,6,6.0
S003,alpha,2,6,5.0
S004,gamma,5,6,5.0
S005,alpha,1,6,1.0
S006,beta,1,6,1.0
S007,beta,2,6,2.0
S008,beta,0,6,0.0
S009,gamma,0,6,0.0
S010,beta,1,6,1.0
S011,alpha,2,6,2.0
S012,BETA,4,6,4.0
S013,AlpHA,1,6,2.0
S014,gamma,1,6,2.0
S015,alpha,4,6,4.0
S016,gamma,6,6,8.0
S017,gamma,2,6,2.0
S018,beta,3,6,3.0
S019,beta,2,6,5.0
S020,beta,2,6,2.0
S021,alpha,5,6,6.0
S022,alpha,6,6,8.0
S023,gamma,1,6,2.0
S024,alpha,6,6,6.0

In [26]:
def clean_text(x):
    return x.strip().lower()

attendance_indexed["cohort"] = attendance_indexed["cohort"].apply(clean_text)

In [27]:
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        alpha                  6                  6                  6.0
S002        gamma                  6                  6                  6.0
S003        alpha                  2                  6                  5.0
S004        gamma                  5                  6                  5.0
S005        alpha                  1                  6                  1.0
S006         beta                  1                  6                  1.0
S007         beta                  2                  6                  2.0
S008         beta                  0                  6                  0.0
S009        gamma                  0                  6                  0.0
S010         beta                  1                  6                  1.0
S011        alpha                  2                  6                  2.0
S012         beta                  4                  6                  4.0
S013        alpha                  1                  6                  2.0
S014        gamma                  1                  6                  2.0
S015        alpha                  4                  6                  4.0
S016        gamma                  6                  6                  8.0
S017        gamma                  2                  6                  2.0
S018         beta                  3                  6                  3.0
S019         beta                  2                  6                  5.0
S020         beta                  2                  6                  2.0
S021        alpha                  5                  6                  6.0
S022        alpha                  6                  6                  8.0
S023        gamma                  1                  6                  2.0
S024        alpha                  6                  6                  6.0

In [28]:
attendance_indexed["cohort"].unique()

array(['alpha', 'gamma', 'beta'], dtype=object)

### Task 4: Filter and compute summaries

Filter the DataFrame to students where `attended_sessions` is below `expected_sessions`. Store the result in `low_attendance`. Compute the average `attended_sessions` by cohort using `groupby`. Print the summary and verify that cohorts in the summary match the cleaned cohorts.

In [29]:
low_attendace = attendance_indexed[attendance_indexed["attended_sessions"]<attendance_indexed["expected_sessions"]]

In [30]:
low_attendace

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S003        alpha                  2                  6                  5.0
S004        gamma                  5                  6                  5.0
S005        alpha                  1                  6                  1.0
S006         beta                  1                  6                  1.0
S007         beta                  2                  6                  2.0
S008         beta                  0                  6                  0.0
S009        gamma                  0                  6                  0.0
S010         beta                  1                  6                  1.0
S011        alpha                  2                  6                  2.0
S012         beta                  4                  6                  4.0
S013        alpha                  1                  6                  2.0
S014        gamma                  1                  6                  2.0
S015        alpha                  4                  6                  4.0
S017        gamma                  2                  6                  2.0
S018         beta                  3                  6                  3.0
S019         beta                  2                  6                  5.0
S020         beta                  2                  6                  2.0
S021        alpha                  5                  6                  6.0
S023        gamma                  1                  6                  2.0

In [31]:
attendance_indexed.groupby("cohort")["attended_sessions"].mean()

cohort
alpha    3.666667
beta     1.875000
gamma    3.000000
Name: attended_sessions, dtype: float64

In [35]:
# Print the summary and verify that cohorts in the summary match the cleaned cohorts.
attendance_indexed.describe()

       attended_sessions  expected_sessions  adjusted_attendance
count          24.000000               24.0            24.000000
mean            2.875000                6.0             3.458333
std             2.112334                0.0             2.395270
min             0.000000                6.0             0.000000
25%             1.000000                6.0             2.000000
50%             2.000000                6.0             2.500000
75%             5.000000                6.0             5.250000
max             6.000000                6.0             8.000000

### Task 5: Add a derived field and validate it

Create a new column `attendance_ok` that is `True` when `attended_sessions` is at least `expected_sessions`, otherwise `False`. Use a boolean comparison rather than a loop. Then validate the column by confirming that every row in `low_attendance` has `attendance_ok` equal to `False`.

In [39]:
attendance_indexed["attendance_ok"] = (
    attendance_indexed["attended_sessions"] >=
    attendance_indexed["expected_sessions"]
)

In [40]:
attendance_indexed

,cohort,attended_sessions,expected_sessions,adjusted_attendance,attendance_ok
student_id,,,,,
S001,alpha,6,6,6.0,True
S002,gamma,6,6,6.0,True
S003,alpha,2,6,5.0,False
S004,gamma,5,6,5.0,False
S005,alpha,1,6,1.0,False
S006,beta,1,6,1.0,False
S007,beta,2,6,2.0,False
S008,beta,0,6,0.0,False
S009,gamma,0,6,0.0,False
S010,beta,1,6,1.0,False
S011,alpha,2,6,2.0,False
S012,beta,4,6,4.0,False
S013,alpha,1,6,2.0,False
S014,gamma,1,6,2.0,False
S015,alpha,4,6,4.0,False
S016,gamma,6,6,8.0,True
S017,gamma,2,6,2.0,False
S018,beta,3,6,3.0,False
S019,beta,2,6,5.0,False
S020,beta,2,6,2.0,False
S021,alpha,5,6,6.0,False
S022,alpha,6,6,8.0,True
S023,gamma,1,6,2.0,False
S024,alpha,6,6,6.0,True

In [41]:
low_attendance = attendance_indexed[attendance_indexed["attendance_ok"] == False]

In [42]:
low_attendance

,cohort,attended_sessions,expected_sessions,adjusted_attendance,attendance_ok
student_id,,,,,
S003,alpha,2,6,5.0,False
S004,gamma,5,6,5.0,False
S005,alpha,1,6,1.0,False
S006,beta,1,6,1.0,False
S007,beta,2,6,2.0,False
S008,beta,0,6,0.0,False
S009,gamma,0,6,0.0,False
S010,beta,1,6,1.0,False
S011,alpha,2,6,2.0,False
S012,beta,4,6,4.0,False
S013,alpha,1,6,2.0,False
S014,gamma,1,6,2.0,False
S015,alpha,4,6,4.0,False
S017,gamma,2,6,2.0,False
S018,beta,3,6,3.0,False
S019,beta,2,6,5.0,False
S020,beta,2,6,2.0,False
S021,alpha,5,6,6.0,False
S023,gamma,1,6,2.0,False