<h1>Task 1</h1>

In [20]:
import pandas as pd
import random

attendance_raw = []

cohorts = ["alpha", "beta", "gamma"]
numbers = list(range(7))
weights = [1, 1, 1, 1, 1, 1, 10]


for i in range(1, 25): 
    record = {
        "student_id": f"S{i:03}",
        "cohort": random.choice(cohorts),
        "attended_sessions": random.choices(numbers, weights=weights, k=1)[0],
        "expected_sessions": 6
    }
    
    attendance_raw.append(record)

attendance = pd.DataFrame(attendance_raw)

print(attendance.head())
print()
attendance.describe()

  student_id cohort  attended_sessions  expected_sessions
0       S001   beta                  5                  6
1       S002   beta                  6                  6
2       S003   beta                  0                  6
3       S004  gamma                  4                  6
4       S005  gamma                  3                  6

       attended_sessions  expected_sessions
count          24.000000               24.0
mean            3.875000                6.0
std             2.271037                0.0
min             0.000000                6.0
25%             2.000000                6.0
50%             4.500000                6.0
75%             6.000000                6.0
max             6.000000                6.0

<h1>Task 2</h1>

In [21]:
attendance_indexed = attendance.set_index('student_id')
print(attendance_indexed.head(5))

           cohort  attended_sessions  expected_sessions
student_id
S001         beta                  5                  6
S002         beta                  6                  6
S003         beta                  0                  6
S004        gamma                  4                  6
S005        gamma                  3                  6

In [22]:
std_ids = random.sample([f'S{i:03}' for i in range(1,51)],15)
excused_absences = pd.Series({i : random.randint(1,3) for i in std_ids})
excused_absences

S021    1
S035    3
S004    1
S014    2
S033    2
S013    3
S018    2
S045    2
S012    2
S047    2
S031    3
S007    3
S038    3
S030    1
S034    2
dtype: int64

In [23]:
attendance_indexed['adjusted_attendance'] = attendance_indexed['attended_sessions'] + excused_absences
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001         beta                  5                  6                  NaN
S002         beta                  6                  6                  NaN
S003         beta                  0                  6                  NaN
S004        gamma                  4                  6                  5.0
S005        gamma                  3                  6                  NaN
S006        gamma                  2                  6                  NaN
S007        alpha                  0                  6                  3.0
S008        alpha                  6                  6                  NaN
S009         beta                  6                  6                  NaN
S010        alpha                  6                  6                  NaN
S011        gamma                  6                  6                  NaN
S012        alpha                  2                  6                  4.0
S013        alpha                  0                  6                  3.0
S014         beta                  3                  6                  5.0
S015        alpha                  6                  6                  NaN
S016         beta                  2                  6                  NaN
S017        gamma                  6                  6                  NaN
S018        gamma                  6                  6                  8.0
S019         beta                  2                  6                  NaN
S020         beta                  2                  6                  NaN
S021        gamma                  6                  6                  7.0
S022         beta                  6                  6                  NaN
S023        gamma                  2                  6                  NaN
S024        gamma                  6                  6                  NaN

In [24]:
attendance_indexed['adjusted_attendance'] = attendance_indexed['adjusted_attendance'].fillna(
    attendance_indexed['attended_sessions'])
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001         beta                  5                  6                  5.0
S002         beta                  6                  6                  6.0
S003         beta                  0                  6                  0.0
S004        gamma                  4                  6                  5.0
S005        gamma                  3                  6                  3.0
S006        gamma                  2                  6                  2.0
S007        alpha                  0                  6                  3.0
S008        alpha                  6                  6                  6.0
S009         beta                  6                  6                  6.0
S010        alpha                  6                  6                  6.0
S011        gamma                  6                  6                  6.0
S012        alpha                  2                  6                  4.0
S013        alpha                  0                  6                  3.0
S014         beta                  3                  6                  5.0
S015        alpha                  6                  6                  6.0
S016         beta                  2                  6                  2.0
S017        gamma                  6                  6                  6.0
S018        gamma                  6                  6                  8.0
S019         beta                  2                  6                  2.0
S020         beta                  2                  6                  2.0
S021        gamma                  6                  6                  7.0
S022         beta                  6                  6                  6.0
S023        gamma                  2                  6                  2.0
S024        gamma                  6                  6                  6.0

<h1>Task 3</h1>

In [25]:
import random

random_ids = random.sample([f'S{i:03}' for i in range(1,25)], 5)

for student_id in random_ids:
    attendance_indexed.loc[student_id, 'cohort'] = random.choice(
        [' Beta ', 'ALPHA', ' alpha', 'gAmMa', 'beTa', 'gamma ']
    )
attendance_indexed['cohort'].unique()

array(['beta', 'gamma', 'ALPHA', 'alpha', 'beTa', ' alpha'], dtype=object)

In [26]:
attendance_indexed['cohort'] = attendance_indexed['cohort'].str.strip().str.lower()
attendance_indexed['cohort'].unique()

array(['beta', 'gamma', 'alpha'], dtype=object)

<h1>Task 4</h1>

In [27]:
low_attendance = attendance_indexed.where(attendance_indexed['attended_sessions'] < attendance_indexed['expected_sessions']).dropna()
low_attendance

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001         beta                5.0                6.0                  5.0
S003         beta                0.0                6.0                  0.0
S004        gamma                4.0                6.0                  5.0
S005        alpha                3.0                6.0                  3.0
S006        gamma                2.0                6.0                  2.0
S007        alpha                0.0                6.0                  3.0
S012        alpha                2.0                6.0                  4.0
S013         beta                0.0                6.0                  3.0
S014         beta                3.0                6.0                  5.0
S016         beta                2.0                6.0                  2.0
S019         beta                2.0                6.0                  2.0
S020        alpha                2.0                6.0                  2.0
S023        gamma                2.0                6.0                  2.0

In [28]:
attendance_indexed.groupby('cohort')['attended_sessions'].mean()

cohort
alpha    4.111111
beta     3.333333
gamma    4.333333
Name: attended_sessions, dtype: float64

<h1>Task 5</h1>

In [29]:
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001         beta                  5                  6                  5.0
S002         beta                  6                  6                  6.0
S003         beta                  0                  6                  0.0
S004        gamma                  4                  6                  5.0
S005        alpha                  3                  6                  3.0
S006        gamma                  2                  6                  2.0
S007        alpha                  0                  6                  3.0
S008        alpha                  6                  6                  6.0
S009         beta                  6                  6                  6.0
S010        alpha                  6                  6                  6.0
S011        gamma                  6                  6                  6.0
S012        alpha                  2                  6                  4.0
S013         beta                  0                  6                  3.0
S014         beta                  3                  6                  5.0
S015        alpha                  6                  6                  6.0
S016         beta                  2                  6                  2.0
S017        gamma                  6                  6                  6.0
S018        gamma                  6                  6                  8.0
S019         beta                  2                  6                  2.0
S020        alpha                  2                  6                  2.0
S021        alpha                  6                  6                  7.0
S022         beta                  6                  6                  6.0
S023        gamma                  2                  6                  2.0
S024        alpha                  6                  6                  6.0

In [30]:
attendance_indexed['attendence_ok'] = (attendance_indexed['attended_sessions'] >= attendance_indexed['expected_sessions'])
attendance_indexed

,cohort,attended_sessions,expected_sessions,adjusted_attendance,attendence_ok
student_id,,,,,
S001,beta,5,6,5.0,False
S002,beta,6,6,6.0,True
S003,beta,0,6,0.0,False
S004,gamma,4,6,5.0,False
S005,alpha,3,6,3.0,False
S006,gamma,2,6,2.0,False
S007,alpha,0,6,3.0,False
S008,alpha,6,6,6.0,True
S009,beta,6,6,6.0,True
S010,alpha,6,6,6.0,True
S011,gamma,6,6,6.0,True
S012,alpha,2,6,4.0,False
S013,beta,0,6,3.0,False
S014,beta,3,6,5.0,False
S015,alpha,6,6,6.0,True
S016,beta,2,6,2.0,False
S017,gamma,6,6,6.0,True
S018,gamma,6,6,8.0,True
S019,beta,2,6,2.0,False
S020,alpha,2,6,2.0,False
S021,alpha,6,6,7.0,True
S022,beta,6,6,6.0,True
S023,gamma,2,6,2.0,False
S024,alpha,6,6,6.0,True

In [31]:
low_ids = set(low_attendance.index)
ok_false_ids = set(attendance_indexed.index[attendance_indexed['attendence_ok'] == False])
all_match = low_ids == ok_false_ids
print(all_match)

True