TASK 1

In [1]:
import pandas as pd
import random 

attendance_raw  = []
cohorts = ["alpha", "beta", "gamma"]

for i in range(1, 25):
    student_id = "S" + str(i).zfill(3)   # ps:zfill adds zeros at the beginning of the string
    cohort = random.choice(cohorts)     
    attended_sessions = random.randint(0, 6)         
    expected_sessions = 6
    
    record = {
        "student_id": student_id,
        "cohort": cohort,
        "attended_sessions": attended_sessions,
        "expected_sessions": expected_sessions
    }
    
    attendance_raw.append(record)

attendance = pd.DataFrame(attendance_raw)
print(attendance.head())
attendance.info()

  student_id cohort  attended_sessions  expected_sessions
0       S001  alpha                  5                  6
1       S002  gamma                  5                  6
2       S003  alpha                  0                  6
3       S004  alpha                  0                  6
4       S005  alpha                  5                  6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         24 non-null     object
 1   cohort             24 non-null     object
 2   attended_sessions  24 non-null     int64
 3   expected_sessions  24 non-null     int64
dtypes: int64(2), object(2)
memory usage: 900.0+ bytes

TASK 2

In [2]:
attendance_indexed = attendance.set_index("student_id")
excused_absences=pd.Series([1, 2, 1, 0, 1, 2, 1, 1, 3, 2], index=["S001", "S003", "S005", "S010", "S015","S020", "S025", "S026", "S030", "S100"])
attendance_indexed["adjusted_attendance"] = (attendance_indexed["attended_sessions"] + excused_absences)
attendance_indexed["adjusted_attendance"] = (attendance_indexed["adjusted_attendance"].fillna(attendance_indexed["attended_sessions"]))
attendance_indexed["adjusted_attendance"]

student_id
S001    6.0
S002    5.0
S003    2.0
S004    0.0
S005    6.0
S006    3.0
S007    6.0
S008    1.0
S009    1.0
S010    4.0
S011    5.0
S012    5.0
S013    0.0
S014    6.0
S015    2.0
S016    4.0
S017    3.0
S018    2.0
S019    5.0
S020    7.0
S021    3.0
S022    4.0
S023    1.0
S024    5.0
Name: adjusted_attendance, dtype: float64

TASK 3

In [3]:
attendance_indexed.loc["S002", "cohort"] = " Alpha "
attendance_indexed.loc["S007", "cohort"] = "BETA"
attendance_indexed.loc["S012", "cohort"] = " gaMma "
attendance_indexed.loc["S018", "cohort"] = "Gamma"
print("Before:", attendance_indexed["cohort"].unique())
attendance_indexed["cohort"] = (attendance_indexed["cohort"].str.strip().str.lower())
print("After:", attendance_indexed["cohort"].unique())

Before: ['alpha' ' Alpha ' 'beta' 'BETA' 'gamma' ' gaMma ' 'Gamma']
After: ['alpha' 'beta' 'gamma']

TASK 4

In [4]:
low_attendance = attendance_indexed[attendance_indexed["attended_sessions"] < attendance_indexed["expected_sessions"]]
print("Low attendance:", low_attendance)
attendance_summary = attendance_indexed.groupby("cohort")["attended_sessions"].mean()
print("Average attended sessions by cohort:", attendance_summary)

Low attendance:            cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        alpha                  5                  6                  6.0
S002        alpha                  5                  6                  5.0
S003        alpha                  0                  6                  2.0
S004        alpha                  0                  6                  0.0
S005        alpha                  5                  6                  6.0
S006         beta                  3                  6                  3.0
S008        gamma                  1                  6                  1.0
S009        gamma                  1                  6                  1.0
S010         beta                  4                  6                  4.0
S011         beta                  5                  6                  5.0
S012        gamma                  5                  6                  5.0
S013        gamma                  0                  6                  0.0
S015         beta                  1                  6                  2.0
S016         beta                  4                  6                  4.0
S017        gamma                  3                  6                  3.0
S018        gamma                  2                  6                  2.0
S019        gamma                  5                  6                  5.0
S020         beta                  5                  6                  7.0
S021         beta                  3                  6                  3.0
S022         beta                  4                  6                  4.0
S023         beta                  1                  6                  1.0
S024        gamma                  5                  6                  5.0
Average attended sessions by cohort: cohort
alpha    3.50
beta     3.60
gamma    2.75
Name: attended_sessions, dtype: float64

TASK 5

In [5]:
attendance_indexed["attendance_ok"] = (attendance_indexed["attended_sessions"] >= attendance_indexed["expected_sessions"])
attendance_indexed[["attended_sessions", "expected_sessions", "attendance_ok"]]

            attended_sessions  expected_sessions  attendance_ok
student_id
S001                        5                  6          False
S002                        5                  6          False
S003                        0                  6          False
S004                        0                  6          False
S005                        5                  6          False
S006                        3                  6          False
S007                        6                  6           True
S008                        1                  6          False
S009                        1                  6          False
S010                        4                  6          False
S011                        5                  6          False
S012                        5                  6          False
S013                        0                  6          False
S014                        6                  6           True
S015                        1                  6          False
S016                        4                  6          False
S017                        3                  6          False
S018                        2                  6          False
S019                        5                  6          False
S020                        5                  6          False
S021                        3                  6          False
S022                        4                  6          False
S023                        1                  6          False
S024                        5                  6          False