In [27]:
import pandas as pd

Task 1: Build and load the dataset

In [28]:
attendance_raw = [
    {'student_id': "S001", 'cohort': 'alpha', "attended_sessions":4, 'expected_sessions':6}, 
    {'student_id': "S002", 'cohort': 'beta' , "attended_sessions":2, 'expected_sessions':6}, 
    {"student_id": "S003", "cohort": "gamma", "attended_sessions":5, "expected_sessions":6},
    {"student_id": "S004", "cohort": "alpha", "attended_sessions":3, "expected_sessions":6},
    {"student_id": "S005", "cohort": "beta",  "attended_sessions":2, "expected_sessions":6},
    {"student_id": "S006", "cohort": "gamma", "attended_sessions":6, "expected_sessions":6},
    {"student_id": "S007", "cohort": "alpha", "attended_sessions":1, "expected_sessions":6},
    {"student_id": "S008", "cohort": "beta",  "attended_sessions":5, "expected_sessions":6},
    {"student_id": "S009", "cohort": "gamma", "attended_sessions":4, "expected_sessions":6},
    {"student_id": "S010", "cohort": "alpha", "attended_sessions":0, "expected_sessions":6},
    {"student_id": "S011", "cohort": "beta",  "attended_sessions":6, "expected_sessions":6},
    {"student_id": "S012", "cohort": "gamma", "attended_sessions":3, "expected_sessions":6},
    {"student_id": "S013", "cohort": "alpha", "attended_sessions":5, "expected_sessions":6},
    {"student_id": "S014", "cohort": "beta",  "attended_sessions":2, "expected_sessions":6},
    {"student_id": "S015", "cohort": "gamma", "attended_sessions":6, "expected_sessions":6},
    {"student_id": "S016", "cohort": "alpha", "attended_sessions":4, "expected_sessions":6},
    {"student_id": "S017", "cohort": "beta",  "attended_sessions":1, "expected_sessions":6},
    {"student_id": "S018", "cohort": "gamma", "attended_sessions":5, "expected_sessions":6},
    {"student_id": "S019", "cohort": "alpha", "attended_sessions":2, "expected_sessions":6},
    {"student_id": "S020", "cohort": "beta",  "attended_sessions":3, "expected_sessions":6},
    {"student_id": "S021", "cohort": "gamma", "attended_sessions":0, "expected_sessions":6},
    {"student_id": "S022", "cohort": "alpha", "attended_sessions":6, "expected_sessions":6},
    {"student_id": "S023", "cohort": "beta",  "attended_sessions":4, "expected_sessions":6},
    {"student_id": "S024", "cohort": "gamma", "attended_sessions":5, "expected_sessions":6},
]

In [29]:
attendance = pd.DataFrame(attendance_raw)
attendance

   student_id cohort  attended_sessions  expected_sessions
0        S001  alpha                  4                  6
1        S002   beta                  2                  6
2        S003  gamma                  5                  6
3        S004  alpha                  3                  6
4        S005   beta                  2                  6
5        S006  gamma                  6                  6
6        S007  alpha                  1                  6
7        S008   beta                  5                  6
8        S009  gamma                  4                  6
9        S010  alpha                  0                  6
10       S011   beta                  6                  6
11       S012  gamma                  3                  6
12       S013  alpha                  5                  6
13       S014   beta                  2                  6
14       S015  gamma                  6                  6
15       S016  alpha                  4                  6
16       S017   beta                  1                  6
17       S018  gamma                  5                  6
18       S019  alpha                  2                  6
19       S020   beta                  3                  6
20       S021  gamma                  0                  6
21       S022  alpha                  6                  6
22       S023   beta                  4                  6
23       S024  gamma                  5                  6

Task 2: Set an index and validate alignment

In [32]:
attendance_indexed = attendance.set_index('student_id')
attendance_indexed

           cohort  attended_sessions  expected_sessions
student_id
S001        alpha                  4                  6
S002         beta                  2                  6
S003        gamma                  5                  6
S004        alpha                  3                  6
S005         beta                  2                  6
S006        gamma                  6                  6
S007        alpha                  1                  6
S008         beta                  5                  6
S009        gamma                  4                  6
S010        alpha                  0                  6
S011         beta                  6                  6
S012        gamma                  3                  6
S013        alpha                  5                  6
S014         beta                  2                  6
S015        gamma                  6                  6
S016        alpha                  4                  6
S017         beta                  1                  6
S018        gamma                  5                  6
S019        alpha                  2                  6
S020         beta                  3                  6
S021        gamma                  0                  6
S022        alpha                  6                  6
S023         beta                  4                  6
S024        gamma                  5                  6

In [34]:
excused_absences = {
    'S004':2 , "S007" :1, 'S027':3, 'S005' :3, "S034" : 2, "S001": 1, 'S012':2, "S021":5, "S043": 4, "S010" : 3
}
excused_absences = pd.Series(excused_absences, name = 'excused')
excused_absences

S004    2
S007    1
S027    3
S005    3
S034    2
S001    1
S012    2
S021    5
S043    4
S010    3
Name: excused, dtype: int64

In [38]:
attendance_indexed['adjusted_attendance'] = attendance_indexed['attended_sessions'] + excused_absences
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        alpha                  4                  6                  5.0
S002         beta                  2                  6                  NaN
S003        gamma                  5                  6                  NaN
S004        alpha                  3                  6                  5.0
S005         beta                  2                  6                  5.0
S006        gamma                  6                  6                  NaN
S007        alpha                  1                  6                  2.0
S008         beta                  5                  6                  NaN
S009        gamma                  4                  6                  NaN
S010        alpha                  0                  6                  3.0
S011         beta                  6                  6                  NaN
S012        gamma                  3                  6                  5.0
S013        alpha                  5                  6                  NaN
S014         beta                  2                  6                  NaN
S015        gamma                  6                  6                  NaN
S016        alpha                  4                  6                  NaN
S017         beta                  1                  6                  NaN
S018        gamma                  5                  6                  NaN
S019        alpha                  2                  6                  NaN
S020         beta                  3                  6                  NaN
S021        gamma                  0                  6                  5.0
S022        alpha                  6                  6                  NaN
S023         beta                  4                  6                  NaN
S024        gamma                  5                  6                  NaN

In [39]:
attendance_indexed['adjusted_attendance'] = attendance_indexed['adjusted_attendance'].fillna(attendance_indexed['attended_sessions'])
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        alpha                  4                  6                  5.0
S002         beta                  2                  6                  2.0
S003        gamma                  5                  6                  5.0
S004        alpha                  3                  6                  5.0
S005         beta                  2                  6                  5.0
S006        gamma                  6                  6                  6.0
S007        alpha                  1                  6                  2.0
S008         beta                  5                  6                  5.0
S009        gamma                  4                  6                  4.0
S010        alpha                  0                  6                  3.0
S011         beta                  6                  6                  6.0
S012        gamma                  3                  6                  5.0
S013        alpha                  5                  6                  5.0
S014         beta                  2                  6                  2.0
S015        gamma                  6                  6                  6.0
S016        alpha                  4                  6                  4.0
S017         beta                  1                  6                  1.0
S018        gamma                  5                  6                  5.0
S019        alpha                  2                  6                  2.0
S020         beta                  3                  6                  3.0
S021        gamma                  0                  6                  5.0
S022        alpha                  6                  6                  6.0
S023         beta                  4                  6                  4.0
S024        gamma                  5                  6                  5.0

In [40]:
attendance_indexed['adjusted_attendance']

student_id
S001    5.0
S002    2.0
S003    5.0
S004    5.0
S005    5.0
S006    6.0
S007    2.0
S008    5.0
S009    4.0
S010    3.0
S011    6.0
S012    5.0
S013    5.0
S014    2.0
S015    6.0
S016    4.0
S017    1.0
S018    5.0
S019    2.0
S020    3.0
S021    5.0
S022    6.0
S023    4.0
S024    5.0
Name: adjusted_attendance, dtype: float64

Task 3: Clean and normalize categories

In [45]:
attendance_indexed.loc['S003', 'cohort'] = "gAmMa"
attendance_indexed.loc['S014', 'cohort'] = ' BETA '
attendance_indexed.loc['S022', 'cohort'] = 'Alpha '

In [46]:
attendance_indexed['cohort'] = attendance_indexed['cohort'].str.strip().str.lower()
attendance_indexed['cohort'].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

Task 4: Filter and compute summaries

In [63]:
low_attendance = attendance_indexed['attended_sessions']< attendance_indexed['expected_sessions']
low_attendance[low_attendance==False]

student_id
S006    False
S011    False
S015    False
S022    False
dtype: bool

In [65]:
avg_attendance_by_cohort = attendance_indexed.groupby("cohort")["attended_sessions"].mean()
avg_attendance_by_cohort

cohort
alpha    3.125
beta     3.125
gamma    4.250
Name: attended_sessions, dtype: float64

In [66]:
attendance_indexed['cohort'].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

Task 5: Add a derived field and validate it

In [67]:
attendance_indexed['attendance_ok'] = (attendance_indexed['attended_sessions'] >= attendance_indexed['expected_sessions'])
attendance_indexed

,cohort,attended_sessions,expected_sessions,adjusted_attendance,low_attendance,attendance_ok
student_id,,,,,,
S001,alpha,4,6,5.0,True,False
S002,beta,2,6,2.0,True,False
S003,gamma,5,6,5.0,True,False
S004,alpha,3,6,5.0,True,False
S005,beta,2,6,5.0,True,False
S006,gamma,6,6,6.0,False,True
S007,alpha,1,6,2.0,True,False
S008,beta,5,6,5.0,True,False
S009,gamma,4,6,4.0,True,False
S010,alpha,0,6,3.0,True,False
S011,beta,6,6,6.0,False,True
S012,gamma,3,6,5.0,True,False
S013,alpha,5,6,5.0,True,False
S014,beta,2,6,2.0,True,False
S015,gamma,6,6,6.0,False,True
S016,alpha,4,6,4.0,True,False
S017,beta,1,6,1.0,True,False
S018,gamma,5,6,5.0,True,False
S019,alpha,2,6,2.0,True,False
S020,beta,3,6,3.0,True,False
S021,gamma,0,6,5.0,True,False
S022,alpha,6,6,6.0,False,True
S023,beta,4,6,4.0,True,False
S024,gamma,5,6,5.0,True,False

In [68]:
print(attendance_indexed[['attended_sessions', 'expected_sessions', 'attendance_ok']].head())

            attended_sessions  expected_sessions  attendance_ok
student_id
S001                        4                  6          False
S002                        2                  6          False
S003                        5                  6          False
S004                        3                  6          False
S005                        2                  6          False

In [74]:

attendance_indexed["attendance_ok"] = attendance_indexed["attended_sessions"] >= attendance_indexed["expected_sessions"]
low_attendance = attendance_indexed[attendance_indexed["attended_sessions"] < attendance_indexed["expected_sessions"]]


validation = attendance_indexed.loc[low_attendance.index, "attendance_ok"].all()
print("All low attendance students marked correctly as False:", validation)

All low attendance students marked correctly as False: False