<h1>PART-1</h1>

In [1]:
import pandas as pd
import numpy as np 

rng = np.random.default_rng(seed = 0)

attendance_raw = [] 

cohort = ["alpha", "beta", "gamma"]

for i in range(1,25):
    attendance_dict = {}
    if i < 10:
        attendance_dict["student_id"] = f"S00{i}"
    else:
        attendance_dict["student_id"] = f"S0{i}"

    attendance_dict["cohort"] = rng.choice(cohort)

    attendance_dict["attended_sessions"] = rng.integers(0,7)
    
    attendance_dict["expected_sessions"] = 6
    
    attendance_raw.append(attendance_dict)

attendance = pd.DataFrame(attendance_raw)

attendance.head()

  student_id cohort  attended_sessions  expected_sessions
0       S001  gamma                  4                  6
1       S002   beta                  1                  6
2       S003  alpha                  0                  6
3       S004  alpha                  0                  6
4       S005  alpha                  5                  6

In [ ]:

# attendance.reset_index(inplace=True) i used this because if student_id  becomes index then it is removed from columns that is why i used reset
attendance.set_index("student_id", inplace=True)
attendance.head()

student_id
S001    4
S002    1
S003    0
S004    0
S005    5
S006    6
S007    4
S008    5
S009    3
S010    6
S011    5
S012    0
S013    6
S014    0
S015    5
S016    1
S017    6
S018    3
S019    2
S020    2
S021    0
S022    0
S023    4
S024    4
Name: attended_sessions, dtype: int64

In [11]:
dict_id = {}

for i in range(1,11):
    j = rng.integers(1,35)
    if j < 10:
        a = str(f"S00{j}")
        if a not in dict_id:
            dict_id[a] = 1
        else:
            dict_id[a] += 1
    else:
        b = str(f"S0{j}")
        if b not in dict_id:
            dict_id[b] = 1
        else:
            dict_id[b] += 1


excused_absences = pd.Series(dict_id)

# print(excused_absences)

attendance["adjusted_attendance"] = attendance["attended_sessions"] + excused_absences
attendance["adjusted_attendance"] = attendance["adjusted_attendance"].fillna(attendance["attended_sessions"])
attendance

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  4                  6                  4.0
S002         beta                  1                  6                  2.0
S003        alpha                  0                  6                  0.0
S004        alpha                  0                  6                  0.0
S005        alpha                  5                  6                  5.0
S006         beta                  6                  6                  6.0
S007         beta                  4                  6                  5.0
S008        gamma                  5                  6                  5.0
S009         beta                  3                  6                  3.0
S010         beta                  6                  6                  6.0
S011        alpha                  5                  6                  6.0
S012        gamma                  0                  6                  0.0
S013         beta                  6                  6                  7.0
S014         beta                  0                  6                  0.0
S015        gamma                  5                  6                  5.0
S016        gamma                  1                  6                  1.0
S017        alpha                  6                  6                  6.0
S018        alpha                  3                  6                  3.0
S019        alpha                  2                  6                  2.0
S020         beta                  2                  6                  2.0
S021         beta                  0                  6                  0.0
S022        alpha                  0                  6                  0.0
S023        alpha                  4                  6                  5.0
S024         beta                  4                  6                  4.0