In [48]:
import pandas as pd
import random

# Task1

In [49]:
attendance_raw = []
cohort_cat = ["alpha", "beta", "gamma"]
for i in range(1,25):
    record = {
        "student_id": f"S{i:03}",
        "cohort": random.choice(cohort_cat),
        "attended_sessions": random.randint(0,7),
        "expected_sessions": 6
    }
    attendance_raw.append(record)
attendance = pd.DataFrame(attendance_raw)

attendance.head() ,attendance.info()

<class 'pandas.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         24 non-null     str
 1   cohort             24 non-null     str
 2   attended_sessions  24 non-null     int64
 3   expected_sessions  24 non-null     int64
dtypes: int64(2), str(2)
memory usage: 900.0 bytes

(  student_id cohort  attended_sessions  expected_sessions
 0       S001  gamma                  7                  6
 1       S002  gamma                  6                  6
 2       S003  gamma                  5                  6
 3       S004  alpha                  2                  6
 4       S005   beta                  7                  6,
 None)

# Task2

In [50]:
attendance_indexed = attendance.set_index("student_id")
excused_absences = pd.Series({
    'S001': 1, 'S002': 2, 'S013': 1, 'S022': 6, 'S005': 2,
    'S100': 1, 'S101': 1, 'S102': 1, 'S103': 1, 'S104': 1
})
attendance_indexed["adjusted_attendance"] = attendance_indexed["attended_sessions"] + excused_absences
attendance_indexed.head()

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  7                  6                  8.0
S002        gamma                  6                  6                  8.0
S003        gamma                  5                  6                  NaN
S004        alpha                  2                  6                  NaN
S005         beta                  7                  6                  9.0

In [51]:
attendance_indexed['adjusted_attendance'] = attendance_indexed['adjusted_attendance'].fillna(
    attendance_indexed['attended_sessions']
)
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  7                  6                  8.0
S002        gamma                  6                  6                  8.0
S003        gamma                  5                  6                  5.0
S004        alpha                  2                  6                  2.0
S005         beta                  7                  6                  9.0
S006        alpha                  0                  6                  0.0
S007        gamma                  3                  6                  3.0
S008        alpha                  1                  6                  1.0
S009         beta                  5                  6                  5.0
S010        gamma                  5                  6                  5.0
S011        alpha                  7                  6                  7.0
S012        gamma                  1                  6                  1.0
S013        gamma                  2                  6                  3.0
S014        gamma                  4                  6                  4.0
S015         beta                  7                  6                  7.0
S016        gamma                  7                  6                  7.0
S017        alpha                  2                  6                  2.0
S018        gamma                  5                  6                  5.0
S019        alpha                  7                  6                  7.0
S020        gamma                  3                  6                  3.0
S021         beta                  6                  6                  6.0
S022        alpha                  7                  6                 13.0
S023        alpha                  3                  6                  3.0
S024         beta                  5                  6                  5.0

# Task3

In [52]:
attendance_indexed.iloc[0, 0] = "  Alpha "
attendance_indexed.iloc[1, 0] = "BETA"
attendance_indexed.iloc[12, 0] = "gamma  "
attendance_indexed.iloc[23, 0] = " alPHa"
attendance_indexed["cohort"].unique()

<StringArray>
['  Alpha ', 'BETA', 'gamma', 'alpha', 'beta', 'gamma  ', ' alPHa']
Length: 7, dtype: str

In [53]:
attendance_indexed['cohort'] = attendance_indexed['cohort'].str.strip().str.lower()
attendance_indexed['cohort'].unique()

<StringArray>
['alpha', 'beta', 'gamma']
Length: 3, dtype: str

# Task4

In [54]:
attendance_mask = attendance_indexed["attended_sessions"] < attendance_indexed["expected_sessions"]
low_attendance = attendance_indexed[attendance_mask]
low_attendance

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S003        gamma                  5                  6                  5.0
S004        alpha                  2                  6                  2.0
S006        alpha                  0                  6                  0.0
S007        gamma                  3                  6                  3.0
S008        alpha                  1                  6                  1.0
S009         beta                  5                  6                  5.0
S010        gamma                  5                  6                  5.0
S012        gamma                  1                  6                  1.0
S013        gamma                  2                  6                  3.0
S014        gamma                  4                  6                  4.0
S017        alpha                  2                  6                  2.0
S018        gamma                  5                  6                  5.0
S020        gamma                  3                  6                  3.0
S023        alpha                  3                  6                  3.0
S024        alpha                  5                  6                  5.0

In [55]:
cohort_averages = attendance_indexed.groupby("cohort")["attended_sessions"].mean()
cohort_averages

cohort
alpha    4.100000
beta     6.200000
gamma    3.888889
Name: attended_sessions, dtype: float64

# Task5

In [58]:
low_attendance['attendance_ok'] = low_attendance['attended_sessions'] >= low_attendance['expected_sessions']
low_attendance

,cohort,attended_sessions,expected_sessions,adjusted_attendance,attendance_ok
student_id,,,,,
S003,gamma,5,6,5.0,False
S004,alpha,2,6,2.0,False
S006,alpha,0,6,0.0,False
S007,gamma,3,6,3.0,False
S008,alpha,1,6,1.0,False
S009,beta,5,6,5.0,False
S010,gamma,5,6,5.0,False
S012,gamma,1,6,1.0,False
S013,gamma,2,6,3.0,False
S014,gamma,4,6,4.0,False
S017,alpha,2,6,2.0,False
S018,gamma,5,6,5.0,False
S020,gamma,3,6,3.0,False
S023,alpha,3,6,3.0,False
S024,alpha,5,6,5.0,False