# Task 1

In [173]:
import numpy as np
import pandas as pd
import random
cohort = ["alpha", "beta", "gamma"]
attendance_raw = []
for i in range(1,25):
    attendance_1 = {
            "student_id": f"S{i:03}",
            "cohort":random.choice(cohort),
            "attended_sessions": random.randint(0,6),
            "expected_sessions": 6 }
    attendance_raw.append(attendance_1)
attendance_raw

[{'student_id': 'S001',
  'cohort': 'beta',
  'attended_sessions': 0,
  'expected_sessions': 6},
 {'student_id': 'S002',
  'cohort': 'gamma',
  'attended_sessions': 6,
  'expected_sessions': 6},
 {'student_id': 'S003',
  'cohort': 'beta',
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S004',
  'cohort': 'alpha',
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S005',
  'cohort': 'beta',
  'attended_sessions': 6,
  'expected_sessions': 6},
 {'student_id': 'S006',
  'cohort': 'gamma',
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S007',
  'cohort': 'beta',
  'attended_sessions': 0,
  'expected_sessions': 6},
 {'student_id': 'S008',
  'cohort': 'alpha',
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S009',
  'cohort': 'gamma',
  'attended_sessions': 0,
  'expected_sessions': 6},
 {'student_id': 'S010',
  'cohort': 'gamma',
  'attended_sessions': 1,
  'expected_sessions': 6},
 {'student_id': 'S011',
  'cohort': 'beta',
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S012',
  'cohort': 'beta',
  'attended_sessions': 3,
  'expected_sessions': 6},
 {'student_id': 'S013',
  'cohort': 'alpha',
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S014',
  'cohort': 'beta',
  'attended_sessions': 0,
  'expected_sessions': 6},
 {'student_id': 'S015',
  'cohort': 'gamma',
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S016',
  'cohort': 'gamma',
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S017',
  'cohort': 'gamma',
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S018',
  'cohort': 'beta',
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S019',
  'cohort': 'beta',
  'attended_sessions': 3,
  'expected_sessions': 6},
 {'student_id': 'S020',
  'cohort': 'beta',
  'attended_sessions': 3,
  'expected_sessions': 6},
 {'student_id': 'S021',
  'cohort': 'gamma',
  'attended_sessions': 1,
  'expected_sessions': 6},
 {'student_id': 'S022',
  'cohort': 'beta',
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S023',
  'cohort': 'beta',
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S024',
  'cohort': 'gamma',
  'attended_sessions': 2,
  'expected_sessions': 6}]

In [174]:
attendance = pd.DataFrame(attendance_raw)
attendance[:5]

  student_id cohort  attended_sessions  expected_sessions
0       S001   beta                  0                  6
1       S002  gamma                  6                  6
2       S003   beta                  2                  6
3       S004  alpha                  4                  6
4       S005   beta                  6                  6

# Task 2

In [175]:
attendance_indexed = attendance.set_index("student_id")
attendance_indexed[:5]

           cohort  attended_sessions  expected_sessions
student_id
S001         beta                  0                  6
S002        gamma                  6                  6
S003         beta                  2                  6
S004        alpha                  4                  6
S005         beta                  6                  6

In [176]:
excused_absences = pd.Series([1,2,3,4,5,6,7,8,9,10],index = ["S003","S005","S017","S025","S026","S027","S028","S029","S030","S031"])
excused_absences

S003     1
S005     2
S017     3
S025     4
S026     5
S027     6
S028     7
S029     8
S030     9
S031    10
dtype: int64

In [177]:
attendance_indexed["adjusted_attendance"] = attendance_indexed["attended_sessions"] + excused_absences

In [178]:
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001         beta                  0                  6                  NaN
S002        gamma                  6                  6                  NaN
S003         beta                  2                  6                  3.0
S004        alpha                  4                  6                  NaN
S005         beta                  6                  6                  8.0
S006        gamma                  5                  6                  NaN
S007         beta                  0                  6                  NaN
S008        alpha                  5                  6                  NaN
S009        gamma                  0                  6                  NaN
S010        gamma                  1                  6                  NaN
S011         beta                  2                  6                  NaN
S012         beta                  3                  6                  NaN
S013        alpha                  4                  6                  NaN
S014         beta                  0                  6                  NaN
S015        gamma                  2                  6                  NaN
S016        gamma                  5                  6                  NaN
S017        gamma                  4                  6                  7.0
S018         beta                  5                  6                  NaN
S019         beta                  3                  6                  NaN
S020         beta                  3                  6                  NaN
S021        gamma                  1                  6                  NaN
S022         beta                  2                  6                  NaN
S023         beta                  4                  6                  NaN
S024        gamma                  2                  6                  NaN

In [179]:
attendance_indexed["adjusted_attendance"].isna()

student_id
S001     True
S002     True
S003    False
S004     True
S005    False
S006     True
S007     True
S008     True
S009     True
S010     True
S011     True
S012     True
S013     True
S014     True
S015     True
S016     True
S017    False
S018     True
S019     True
S020     True
S021     True
S022     True
S023     True
S024     True
Name: adjusted_attendance, dtype: bool

In [172]:
attendance_indexed["adjusted_attendance"] = attendance_indexed["adjusted_attendance"].fillna(attendance_indexed["attended_sessions"])
attendance_indexed["adjusted_attendance"]

student_id
S001    4.0
S002    6.0
S003    5.0
S004    6.0
S005    3.0
S006    4.0
S007    3.0
S008    6.0
S009    2.0
S010    5.0
S011    0.0
S012    6.0
S013    6.0
S014    0.0
S015    2.0
S016    6.0
S017    6.0
S018    2.0
S019    1.0
S020    4.0
S021    1.0
S022    4.0
S023    5.0
S024    6.0
Name: adjusted_attendance, dtype: float64

# Task 3

In [165]:
attendance_indexed.loc["S003","cohort"] = "BETA "
attendance_indexed.loc["S007","cohort"] = "GAMMA"
attendance_indexed.loc["S009","cohort"] = " gamma "
attendance_indexed.loc["S013","cohort"] = "beta "
attendance_indexed.loc["S024","cohort"] = "gamma"
attendance_indexed

             cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001          gamma                  4                  6                  4.0
S002           beta                  6                  6                  6.0
S003          BETA                   4                  6                  5.0
S004          gamma                  6                  6                  6.0
S005           beta                  1                  6                  3.0
S006           beta                  4                  6                  4.0
S007          GAMMA                  3                  6                  3.0
S008          alpha                  6                  6                  6.0
S009         gamma                   2                  6                  2.0
S010          gamma                  5                  6                  5.0
S011          alpha                  0                  6                  0.0
S012           beta                  6                  6                  6.0
S013          beta                   6                  6                  6.0
S014          alpha                  0                  6                  0.0
S015          alpha                  2                  6                  2.0
S016          gamma                  6                  6                  6.0
S017          alpha                  3                  6                  6.0
S018          gamma                  2                  6                  2.0
S019          alpha                  1                  6                  1.0
S020           beta                  4                  6                  4.0
S021          gamma                  1                  6                  1.0
S022          alpha                  4                  6                  4.0
S023          alpha                  5                  6                  5.0
S024          gamma                  6                  6                  6.0

In [166]:
attendance_indexed["cohort"] = attendance_indexed["cohort"].str.lower().str.strip()

In [167]:
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  4                  6                  4.0
S002         beta                  6                  6                  6.0
S003         beta                  4                  6                  5.0
S004        gamma                  6                  6                  6.0
S005         beta                  1                  6                  3.0
S006         beta                  4                  6                  4.0
S007        gamma                  3                  6                  3.0
S008        alpha                  6                  6                  6.0
S009        gamma                  2                  6                  2.0
S010        gamma                  5                  6                  5.0
S011        alpha                  0                  6                  0.0
S012         beta                  6                  6                  6.0
S013         beta                  6                  6                  6.0
S014        alpha                  0                  6                  0.0
S015        alpha                  2                  6                  2.0
S016        gamma                  6                  6                  6.0
S017        alpha                  3                  6                  6.0
S018        gamma                  2                  6                  2.0
S019        alpha                  1                  6                  1.0
S020         beta                  4                  6                  4.0
S021        gamma                  1                  6                  1.0
S022        alpha                  4                  6                  4.0
S023        alpha                  5                  6                  5.0
S024        gamma                  6                  6                  6.0

In [168]:
attendance_indexed["cohort"].unique()

array(['gamma', 'beta', 'alpha'], dtype=object)

# Task 4

In [169]:
low_attendance = attendance_indexed[attendance_indexed["attended_sessions"]<attendance_indexed["expected_sessions"]]
low_attendance[:2]

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  4                  6                  4.0
S003         beta                  4                  6                  5.0

In [183]:
summary = low_attendance.groupby("cohort")["attended_sessions"].mean()
summary

cohort
alpha    2.142857
beta     3.250000
gamma    2.833333
Name: attended_sessions, dtype: float64

# Task 5

In [152]:
attendance_indexed["attendance_ok"]=attendance_indexed["attended_sessions"]>=attendance_indexed["expected_sessions"]
attendance_indexed

,cohort,attended_sessions,expected_sessions,adjusted_attendance,attendance_ok
student_id,,,,,
S001,gamma,4,6,4.0,False
S002,alpha,2,6,2.0,False
S003,beta,5,6,6.0,False
S004,alpha,2,6,2.0,False
S005,alpha,1,6,3.0,False
S006,beta,0,6,0.0,False
S007,gamma,6,6,6.0,True
S008,beta,2,6,2.0,False
S009,gamma,3,6,3.0,False
S010,alpha,4,6,4.0,False
S011,alpha,6,6,6.0,True
S012,gamma,2,6,2.0,False
S013,beta,6,6,6.0,True
S014,alpha,4,6,4.0,False
S015,alpha,2,6,2.0,False
S016,beta,4,6,4.0,False
S017,beta,6,6,9.0,True
S018,beta,6,6,6.0,True
S019,alpha,3,6,3.0,False
S020,beta,0,6,0.0,False
S021,beta,3,6,3.0,False
S022,beta,4,6,4.0,False
S023,gamma,0,6,0.0,False
S024,gamma,5,6,5.0,False

In [155]:
(low_attendance["attendance_ok"] == False)

student_id
S001    True
S002    True
S003    True
S004    True
S005    True
S006    True
S008    True
S009    True
S010    True
S012    True
S014    True
S015    True
S016    True
S019    True
S020    True
S021    True
S022    True
S023    True
S024    True
Name: attendance_ok, dtype: bool