In [1]:
import pandas as pd
import random

TASK1

In [2]:
cohorts=["alpha", "beta", "gamma"]
k=random.choice(cohorts)
s = []
for i in range(1, 25):
    if(i<10):
        s.append("S00" + str(i))
    else:
        s.append("S0" + str(i))

attendance_raw = []
for i in range(24):
    attendance_raw.append({"student_id": s[i],"chort":random.choice(cohorts),"attended_sessions":random.randint(0,6),"expected_sessions":6})
for a in attendance_raw:
    print(a)

{'student_id': 'S001', 'chort': 'gamma', 'attended_sessions': 5, 'expected_sessions': 6}
{'student_id': 'S002', 'chort': 'alpha', 'attended_sessions': 1, 'expected_sessions': 6}
{'student_id': 'S003', 'chort': 'beta', 'attended_sessions': 0, 'expected_sessions': 6}
{'student_id': 'S004', 'chort': 'gamma', 'attended_sessions': 4, 'expected_sessions': 6}
{'student_id': 'S005', 'chort': 'alpha', 'attended_sessions': 4, 'expected_sessions': 6}
{'student_id': 'S006', 'chort': 'beta', 'attended_sessions': 4, 'expected_sessions': 6}
{'student_id': 'S007', 'chort': 'gamma', 'attended_sessions': 0, 'expected_sessions': 6}
{'student_id': 'S008', 'chort': 'alpha', 'attended_sessions': 2, 'expected_sessions': 6}
{'student_id': 'S009', 'chort': 'beta', 'attended_sessions': 3, 'expected_sessions': 6}
{'student_id': 'S010', 'chort': 'beta', 'attended_sessions': 5, 'expected_sessions': 6}
{'student_id': 'S011', 'chort': 'alpha', 'attended_sessions': 3, 'expected_sessions': 6}
{'student_id': 'S012', 'chort': 'gamma', 'attended_sessions': 1, 'expected_sessions': 6}
{'student_id': 'S013', 'chort': 'gamma', 'attended_sessions': 3, 'expected_sessions': 6}
{'student_id': 'S014', 'chort': 'gamma', 'attended_sessions': 6, 'expected_sessions': 6}
{'student_id': 'S015', 'chort': 'gamma', 'attended_sessions': 2, 'expected_sessions': 6}
{'student_id': 'S016', 'chort': 'alpha', 'attended_sessions': 2, 'expected_sessions': 6}
{'student_id': 'S017', 'chort': 'beta', 'attended_sessions': 1, 'expected_sessions': 6}
{'student_id': 'S018', 'chort': 'alpha', 'attended_sessions': 0, 'expected_sessions': 6}
{'student_id': 'S019', 'chort': 'beta', 'attended_sessions': 2, 'expected_sessions': 6}
{'student_id': 'S020', 'chort': 'gamma', 'attended_sessions': 1, 'expected_sessions': 6}
{'student_id': 'S021', 'chort': 'alpha', 'attended_sessions': 4, 'expected_sessions': 6}
{'student_id': 'S022', 'chort': 'gamma', 'attended_sessions': 1, 'expected_sessions': 6}
{'student_id': 'S023', 'chort': 'alpha', 'attended_sessions': 5, 'expected_sessions': 6}
{'student_id': 'S024', 'chort': 'gamma', 'attended_sessions': 6, 'expected_sessions': 6}

In [3]:
attendance=pd.DataFrame(attendance_raw)
print(attendance.iloc[:5])  #first 5 rows

  student_id  chort  attended_sessions  expected_sessions
0       S001  gamma                  5                  6
1       S002  alpha                  1                  6
2       S003   beta                  0                  6
3       S004  gamma                  4                  6
4       S005  alpha                  4                  6

In [4]:
attendance.info()

<class 'pandas.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         24 non-null     str
 1   chort              24 non-null     str
 2   attended_sessions  24 non-null     int64
 3   expected_sessions  24 non-null     int64
dtypes: int64(2), str(2)
memory usage: 900.0 bytes

TASK2

In [5]:
attendance_indexed=attendance.set_index("student_id")
print(attendance_indexed)

            chort  attended_sessions  expected_sessions
student_id
S001        gamma                  5                  6
S002        alpha                  1                  6
S003         beta                  0                  6
S004        gamma                  4                  6
S005        alpha                  4                  6
S006         beta                  4                  6
S007        gamma                  0                  6
S008        alpha                  2                  6
S009         beta                  3                  6
S010         beta                  5                  6
S011        alpha                  3                  6
S012        gamma                  1                  6
S013        gamma                  3                  6
S014        gamma                  6                  6
S015        gamma                  2                  6
S016        alpha                  2                  6
S017         beta                  1                  6
S018        alpha                  0                  6
S019         beta                  2                  6
S020        gamma                  1                  6
S021        alpha                  4                  6
S022        gamma                  1                  6
S023        alpha                  5                  6
S024        gamma                  6                  6

In [16]:
excused_absences = pd.Series({
    "S001": 1,
    "S003": 2,
    "S005": 1,
    "S007": 0,
    "S010": 1,
    "S015": 2,
    "S018": 1,
    "S021": 1,
    "S024": 2,
    "S030": 1,#missing
    "S031": 2#missing
})
attendance_indexed["adjusted_attendance"] = (attendance_indexed["attended_sessions"] + excused_absences)
attendance_indexed

,chort,attended_sessions,expected_sessions,adjusted_attendance,attendance_ok
student_id,,,,,
S001,gamma,5,6,6.0,False
S002,alpha,1,6,NaN,False
S003,beta,0,6,2.0,False
S004,gamma,4,6,NaN,False
S005,alpha,4,6,5.0,False
S006,gamma,4,6,NaN,False
S007,gamma,0,6,0.0,False
S008,alpha,2,6,NaN,False
S009,beta,3,6,NaN,False
S010,beta,5,6,6.0,False
S011,alpha,3,6,NaN,False
S012,gamma,1,6,NaN,False
S013,gamma,3,6,NaN,False
S014,gamma,6,6,NaN,True
S015,gamma,2,6,4.0,False
S016,alpha,2,6,NaN,False
S017,beta,1,6,NaN,False
S018,alpha,0,6,1.0,False
S019,beta,2,6,NaN,False
S020,alpha,1,6,NaN,False
S021,gamma,4,6,5.0,False
S022,gamma,1,6,NaN,False
S023,alpha,5,6,NaN,False
S024,gamma,6,6,8.0,True

In [7]:
attendance_indexed[attendance_indexed["adjusted_attendance"].isna()]#Confirm that rows without matching IDs become missing in adjusted_attendance

            chort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S002        alpha                  1                  6                  NaN
S004        gamma                  4                  6                  NaN
S006         beta                  4                  6                  NaN
S008        alpha                  2                  6                  NaN
S009         beta                  3                  6                  NaN
S011        alpha                  3                  6                  NaN
S012        gamma                  1                  6                  NaN
S013        gamma                  3                  6                  NaN
S014        gamma                  6                  6                  NaN
S016        alpha                  2                  6                  NaN
S017         beta                  1                  6                  NaN
S019         beta                  2                  6                  NaN
S020        gamma                  1                  6                  NaN
S022        gamma                  1                  6                  NaN
S023        alpha                  5                  6                  NaN

In [8]:
attendance_indexed["adjusted_attendance"]=attendance_indexed["adjusted_attendance"].fillna(attendance_indexed["attended_sessions"])
attendance_indexed

            chort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  5                  6                  6.0
S002        alpha                  1                  6                  1.0
S003         beta                  0                  6                  2.0
S004        gamma                  4                  6                  4.0
S005        alpha                  4                  6                  5.0
S006         beta                  4                  6                  4.0
S007        gamma                  0                  6                  0.0
S008        alpha                  2                  6                  2.0
S009         beta                  3                  6                  3.0
S010         beta                  5                  6                  6.0
S011        alpha                  3                  6                  3.0
S012        gamma                  1                  6                  1.0
S013        gamma                  3                  6                  3.0
S014        gamma                  6                  6                  6.0
S015        gamma                  2                  6                  4.0
S016        alpha                  2                  6                  2.0
S017         beta                  1                  6                  1.0
S018        alpha                  0                  6                  1.0
S019         beta                  2                  6                  2.0
S020        gamma                  1                  6                  1.0
S021        alpha                  4                  6                  5.0
S022        gamma                  1                  6                  1.0
S023        alpha                  5                  6                  5.0
S024        gamma                  6                  6                  8.0

TASK3

In [9]:
attendance_indexed.loc["S006","chort"]=" GaMma "
attendance_indexed.loc["S012","chort"]=" gamMA"
attendance_indexed.loc["S020","chort"]=" AlPha "
attendance_indexed.loc["S021","chort"]=" GAMma "
attendance_indexed.loc["S023","chort"]=" ALPHA "
attendance_indexed.loc["S024","chort"]=" GAMMa "
print("before normalize",attendance_indexed["chort"].unique())

before normalize <StringArray>
[  'gamma',   'alpha',    'beta', ' GaMma ',  ' gamMA', ' AlPha ', ' GAMma ',
 ' ALPHA ', ' GAMMa ']
Length: 9, dtype: str

In [10]:
attendance_indexed["chort"] = attendance_indexed["chort"].str.strip().str.lower()
cleaned=set(attendance_indexed["chort"].unique())
print("after normalize",cleaned)

after normalize {'gamma', 'beta', 'alpha'}

TASK4

In [11]:
low_attendance=attendance_indexed[attendance_indexed["attended_sessions"]<attendance_indexed["expected_sessions"]]
low_attendance

            chort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  5                  6                  6.0
S002        alpha                  1                  6                  1.0
S003         beta                  0                  6                  2.0
S004        gamma                  4                  6                  4.0
S005        alpha                  4                  6                  5.0
S006        gamma                  4                  6                  4.0
S007        gamma                  0                  6                  0.0
S008        alpha                  2                  6                  2.0
S009         beta                  3                  6                  3.0
S010         beta                  5                  6                  6.0
S011        alpha                  3                  6                  3.0
S012        gamma                  1                  6                  1.0
S013        gamma                  3                  6                  3.0
S015        gamma                  2                  6                  4.0
S016        alpha                  2                  6                  2.0
S017         beta                  1                  6                  1.0
S018        alpha                  0                  6                  1.0
S019         beta                  2                  6                  2.0
S020        alpha                  1                  6                  1.0
S021        gamma                  4                  6                  5.0
S022        gamma                  1                  6                  1.0
S023        alpha                  5                  6                  5.0

In [12]:
grouped=attendance_indexed.groupby("chort")["attended_sessions"].mean()
grouped

chort
alpha    2.250000
beta     2.200000
gamma    3.272727
Name: attended_sessions, dtype: float64

In [13]:
chort_names = set(grouped.index.tolist())
chort_names==cleaned #verify chort names match to cleaned cohorts

True

Task5

In [14]:
attendance_indexed["attendance_ok"]=attendance_indexed["attended_sessions"]>=attendance_indexed["expected_sessions"]
attendance_indexed

,chort,attended_sessions,expected_sessions,adjusted_attendance,attendance_ok
student_id,,,,,
S001,gamma,5,6,6.0,False
S002,alpha,1,6,1.0,False
S003,beta,0,6,2.0,False
S004,gamma,4,6,4.0,False
S005,alpha,4,6,5.0,False
S006,gamma,4,6,4.0,False
S007,gamma,0,6,0.0,False
S008,alpha,2,6,2.0,False
S009,beta,3,6,3.0,False
S010,beta,5,6,6.0,False
S011,alpha,3,6,3.0,False
S012,gamma,1,6,1.0,False
S013,gamma,3,6,3.0,False
S014,gamma,6,6,6.0,True
S015,gamma,2,6,4.0,False
S016,alpha,2,6,2.0,False
S017,beta,1,6,1.0,False
S018,alpha,0,6,1.0,False
S019,beta,2,6,2.0,False
S020,alpha,1,6,1.0,False
S021,gamma,4,6,5.0,False
S022,gamma,1,6,1.0,False
S023,alpha,5,6,5.0,False
S024,gamma,6,6,8.0,True

In [15]:
attendance_indexed["attendance_ok"] = attendance_indexed["attended_sessions"] >= attendance_indexed["expected_sessions"]
low_attendance = attendance_indexed[attendance_indexed["attended_sessions"] < attendance_indexed["expected_sessions"]]
all_false = (low_attendance["attendance_ok"] == False).all()
print(all_false)

True