### Task 1: Build and load the dataset
Create a list of dictionaries called attendance_raw with exactly 24 records. Each record must include:

student_id in the format S001 to S024
cohort as one of ["alpha", "beta", "gamma"]
attended_sessions as an integer between 0 and 6
expected_sessions as the integer 6
Then load the list into a DataFrame named attendance. Print the first five rows and call info() to confirm the structure and data types.

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng=np.random.default_rng(42)
cohorts=["alpha", "beta", "gamma"]

In [3]:
attendance_raw=[{
    "student_id": f"S{i:03}",
    "cohort":rng.choice(cohorts),
    "attended_sessions":int(rng.integers(0,7)),
    "expected_sessions":6
}
for i in range(1,25) ]

In [4]:
attendance=pd.DataFrame(attendance_raw)

In [5]:
print(attendance.head(5))

  student_id cohort  attended_sessions  expected_sessions
0       S001  alpha                  5                  6
1       S002   beta                  3                  6
2       S003   beta                  6                  6
3       S004  alpha                  4                  6
4       S005  alpha                  0                  6

 student_id cohort  attended_sessions  expected_sessions
0       S001  gamma                  5                  6
1       S002  gamma                  1                  6
2       S003   beta                  3                  6
3       S004   beta                  0                  6
4       S005   beta                  1                  6

In [6]:
print(attendance.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         24 non-null     object
 1   cohort             24 non-null     object
 2   attended_sessions  24 non-null     int64
 3   expected_sessions  24 non-null     int64
dtypes: int64(2), object(2)
memory usage: 900.0+ bytes
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype 
---  ------             --------------  ----- 
 0   student_id         24 non-null     object
 1   cohort             24 non-null     object
 2   attended_sessions  24 non-null     int64 
 3   expected_sessions  24 non-null     int64 
dtypes: int64(2), object(2)
memory usage: 900.0+ bytes
None

### Task 2: Set an index and validate alignment
Set student_id as the index and store the result in attendance_indexed. Create a Series named excused_absences with at least 10 student IDs (some IDs must not exist in the DataFrame). Add this Series to attended_sessions to create a new column adjusted_attendance. Confirm that rows without matching IDs become missing in adjusted_attendance. Then fill missing values in adjusted_attendance with the original attended_sessions and show the updated column.

In [7]:
attendance_indexed=attendance.set_index("student_id")

In [8]:
excused_absences = pd.Series({"S001": 1, "S005": 2, "S010": 1, "S020": 3, "S025": 2, "S030": 1, "S007": 1, "S012": 1,"S015": 2, "S018": 1})
excused_absences

S001    1
S005    2
S010    1
S020    3
S025    2
S030    1
S007    1
S012    1
S015    2
S018    1
dtype: int64

S001    1
S005    2
S010    1
S020    3
S025    2
S030    1
S007    1
S012    1
S015    2
S018    1
dtype: int64

In [9]:
attendance_indexed["adjusted_attendance"] = attendance_indexed["attended_sessions"] + excused_absences

attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        alpha                  5                  6                  6.0
S002         beta                  3                  6                  NaN
S003         beta                  6                  6                  NaN
S004        alpha                  4                  6                  NaN
S005        alpha                  0                  6                  2.0
S006         beta                  6                  6                  NaN
S007        gamma                  5                  6                  6.0
S008        gamma                  5                  6                  NaN
S009         beta                  0                  6                  NaN
S010        gamma                  3                  6                  4.0
S011         beta                  2                  6                  NaN
S012        alpha                  6                  6                  7.0
S013        gamma                  4                  6                  NaN
S014         beta                  5                  6                  NaN
S015         beta                  3                  6                  5.0
S016         beta                  1                  6                  NaN
S017        alpha                  3                  6                  NaN
S018        gamma                  0                  6                  1.0
S019        gamma                  5                  6                  NaN
S020        alpha                  4                  6                  7.0
S021        alpha                  5                  6                  NaN
S022        gamma                  2                  6                  NaN
S023        alpha                  6                  6                  NaN
S024         beta                  6                  6                  NaN

In [10]:
attendance_indexed["adjusted_attendance"].fillna(attendance_indexed["attended_sessions"], inplace=True)
print(attendance_indexed[["attended_sessions","adjusted_attendance"]])

            attended_sessions  adjusted_attendance
student_id
S001                        5                  6.0
S002                        3                  3.0
S003                        6                  6.0
S004                        4                  4.0
S005                        0                  2.0
S006                        6                  6.0
S007                        5                  6.0
S008                        5                  5.0
S009                        0                  0.0
S010                        3                  4.0
S011                        2                  2.0
S012                        6                  7.0
S013                        4                  4.0
S014                        5                  5.0
S015                        3                  5.0
S016                        1                  1.0
S017                        3                  3.0
S018                        0                  1.0
S019                        5                  5.0
S020                        4                  7.0
S021                        5                  5.0
S022                        2                  2.0
S023                        6                  6.0
S024                        6                  6.0

C:\Users\User\AppData\Local\Temp\ipykernel_11736\1152978698.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  attendance_indexed["adjusted_attendance"].fillna(attendance_indexed["attended_sessions"], inplace=True)


student               attended_sessions  adjusted_attendance
                              
S001                        5                  6.0
S002                        1                  1.0
S003                        3                  3.0
S004                        0                  0.0
S005                        1                  3.0
S006                        4                  4.0
S007                        5                  6.0
S008                        6                  6.0
S009                        2                  2.0
S010                        2                  3.0
S011                        3                  3.0
S012                        1                  2.0
S013                        0                  0.0
S014                        3                  3.0
S015                        1                  3.0
S016                        4                  4.0
S017                        3                  3.0
S018                        5                  6.0
S019                        4                  4.0
S020                        2                  5.0
S021                        5                  5.0
S022                        5                  5.0
S023                        2                  2.0
S024                        2                  2.0

### Task 3: Clean and normalize categories
Introduce a small inconsistency by modifying a few cohort values to include extra whitespace and inconsistent casing. Then write pandas code to normalize the cohort column by stripping whitespace and converting to lowercase. After cleaning, display the unique cohorts to confirm that the inconsistencies are resolved.

In [11]:
attendance_indexed.loc["S003", "cohort"] = " Alpha "
attendance_indexed.loc["S008", "cohort"] = "BETA"
attendance_indexed.loc["S014", "cohort"] = " Gamma "
attendance_indexed

             cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001          alpha                  5                  6                  6.0
S002           beta                  3                  6                  3.0
S003         Alpha                   6                  6                  6.0
S004          alpha                  4                  6                  4.0
S005          alpha                  0                  6                  2.0
S006           beta                  6                  6                  6.0
S007          gamma                  5                  6                  6.0
S008           BETA                  5                  6                  5.0
S009           beta                  0                  6                  0.0
S010          gamma                  3                  6                  4.0
S011           beta                  2                  6                  2.0
S012          alpha                  6                  6                  7.0
S013          gamma                  4                  6                  4.0
S014         Gamma                   5                  6                  5.0
S015           beta                  3                  6                  5.0
S016           beta                  1                  6                  1.0
S017          alpha                  3                  6                  3.0
S018          gamma                  0                  6                  1.0
S019          gamma                  5                  6                  5.0
S020          alpha                  4                  6                  7.0
S021          alpha                  5                  6                  5.0
S022          gamma                  2                  6                  2.0
S023          alpha                  6                  6                  6.0
S024           beta                  6                  6                  6.0

In [12]:
attendance_indexed["cohort"]=attendance_indexed["cohort"].str.strip().str.lower()
print(attendance_indexed["cohort"].unique())
attendance_indexed

['alpha' 'beta' 'gamma']

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        alpha                  5                  6                  6.0
S002         beta                  3                  6                  3.0
S003        alpha                  6                  6                  6.0
S004        alpha                  4                  6                  4.0
S005        alpha                  0                  6                  2.0
S006         beta                  6                  6                  6.0
S007        gamma                  5                  6                  6.0
S008         beta                  5                  6                  5.0
S009         beta                  0                  6                  0.0
S010        gamma                  3                  6                  4.0
S011         beta                  2                  6                  2.0
S012        alpha                  6                  6                  7.0
S013        gamma                  4                  6                  4.0
S014        gamma                  5                  6                  5.0
S015         beta                  3                  6                  5.0
S016         beta                  1                  6                  1.0
S017        alpha                  3                  6                  3.0
S018        gamma                  0                  6                  1.0
S019        gamma                  5                  6                  5.0
S020        alpha                  4                  6                  7.0
S021        alpha                  5                  6                  5.0
S022        gamma                  2                  6                  2.0
S023        alpha                  6                  6                  6.0
S024         beta                  6                  6                  6.0

['gamma' 'alpha' 'beta']

### Task 4: Filter and compute summaries
Filter the DataFrame to students where attended_sessions is below expected_sessions. Store the result in low_attendance. Compute the average attended_sessions by cohort using groupby. Print the summary and verify that cohorts in the summary match the cleaned cohorts.

In [13]:
low_attendance = attendance_indexed[attendance_indexed["attended_sessions"] < attendance_indexed["expected_sessions"]]
low_attendance

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        alpha                  5                  6                  6.0
S002         beta                  3                  6                  3.0
S004        alpha                  4                  6                  4.0
S005        alpha                  0                  6                  2.0
S007        gamma                  5                  6                  6.0
S008         beta                  5                  6                  5.0
S009         beta                  0                  6                  0.0
S010        gamma                  3                  6                  4.0
S011         beta                  2                  6                  2.0
S013        gamma                  4                  6                  4.0
S014        gamma                  5                  6                  5.0
S015         beta                  3                  6                  5.0
S016         beta                  1                  6                  1.0
S017        alpha                  3                  6                  3.0
S018        gamma                  0                  6                  1.0
S019        gamma                  5                  6                  5.0
S020        alpha                  4                  6                  7.0
S021        alpha                  5                  6                  5.0
S022        gamma                  2                  6                  2.0

In [14]:
avg_by_cohort=attendance_indexed.groupby("cohort")["attended_sessions"].mean()
avg_by_cohort

cohort
alpha    4.333333
beta     3.250000
gamma    3.428571
Name: attended_sessions, dtype: float64

cohort
alpha    2.80
beta     2.75
gamma    3.00
Name: attended_sessions, dtype: float64

### Task 5: Add a derived field and validate it
Create a new column attendance_ok that is True when attended_sessions is at least expected_sessions, otherwise False. Use a boolean comparison rather than a loop. Then validate the column by confirming that every row in low_attendance has attendance_ok equal to False.

In [26]:
attendance_indexed["attendance_ok"] = attendance_indexed["attended_sessions"] >= attendance_indexed["expected_sessions"]

In [27]:
low_attendance = attendance_indexed[attendance_indexed["attended_sessions"] < attendance_indexed["expected_sessions"]]

In [28]:
all_false = (low_attendance["attendance_ok"] == False).all()
print(all_false)

True

In [29]:
print(low_attendance[["attended_sessions", "expected_sessions", "attendance_ok"]])

            attended_sessions  expected_sessions  attendance_ok
student_id
S001                        5                  6          False
S002                        3                  6          False
S004                        4                  6          False
S005                        0                  6          False
S007                        5                  6          False
S008                        5                  6          False
S009                        0                  6          False
S010                        3                  6          False
S011                        2                  6          False
S013                        4                  6          False
S014                        5                  6          False
S015                        3                  6          False
S016                        1                  6          False
S017                        3                  6          False
S018                        0                  6          False
S019                        5                  6          False
S020                        4                  6          False
S021                        5                  6          False
S022                        2                  6          False

            attended_sessions  expected_sessions  attendance_ok
student_id                                                     
S001                        5                  6          False
S002                        3                  6          False
S004                        4                  6          False
S005                        0                  6          False
S007                        5                  6          False
S008                        5                  6          False
S009                        0                  6          False
S010                        3                  6          False
S011                        2                  6          False
S013                        4                  6          False
S014                        5                  6          False
S015                        3                  6          False
S016                        1                  6          False
S017                        3                  6          False
S018                        0                  6          False
S019                        5                  6          False
S020                        4                  6          False
S021                        5                  6          False
S022                        2                  6          False