In [3]:
import pandas as pd
import numpy as np
import random

In [5]:
attendance_raw = []
cohort =  ["alpha", "beta", "gamma"]
for i in range(1, 25):
    records = {'student_id':f"S{i:03d}", 'cohort': np.random.choice(cohort), 'attended_sessions':np.random.randint(0, 6), 'expected_sessions': 6} 
    attendance_raw.append(records)

In [7]:
attendance_raw

[{'student_id': 'S001',
  'cohort': np.str_('gamma'),
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S002',
  'cohort': np.str_('beta'),
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S003',
  'cohort': np.str_('alpha'),
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S004',
  'cohort': np.str_('gamma'),
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S005',
  'cohort': np.str_('beta'),
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S006',
  'cohort': np.str_('alpha'),
  'attended_sessions': 0,
  'expected_sessions': 6},
 {'student_id': 'S007',
  'cohort': np.str_('alpha'),
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S008',
  'cohort': np.str_('beta'),
  'attended_sessions': 1,
  'expected_sessions': 6},
 {'student_id': 'S009',
  'cohort': np.str_('beta'),
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S010',
  'cohort': np.str_('beta'),
  'attended_sessions': 4,
  'expected_sessions': 6},
 {'student_id': 'S011',
  'cohort': np.str_('alpha'),
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S012',
  'cohort': np.str_('gamma'),
  'attended_sessions': 0,
  'expected_sessions': 6},
 {'student_id': 'S013',
  'cohort': np.str_('gamma'),
  'attended_sessions': 1,
  'expected_sessions': 6},
 {'student_id': 'S014',
  'cohort': np.str_('alpha'),
  'attended_sessions': 3,
  'expected_sessions': 6},
 {'student_id': 'S015',
  'cohort': np.str_('gamma'),
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S016',
  'cohort': np.str_('beta'),
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S017',
  'cohort': np.str_('beta'),
  'attended_sessions': 3,
  'expected_sessions': 6},
 {'student_id': 'S018',
  'cohort': np.str_('beta'),
  'attended_sessions': 1,
  'expected_sessions': 6},
 {'student_id': 'S019',
  'cohort': np.str_('beta'),
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S020',
  'cohort': np.str_('beta'),
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S021',
  'cohort': np.str_('alpha'),
  'attended_sessions': 2,
  'expected_sessions': 6},
 {'student_id': 'S022',
  'cohort': np.str_('beta'),
  'attended_sessions': 5,
  'expected_sessions': 6},
 {'student_id': 'S023',
  'cohort': np.str_('gamma'),
  'attended_sessions': 1,
  'expected_sessions': 6},
 {'student_id': 'S024',
  'cohort': np.str_('alpha'),
  'attended_sessions': 2,
  'expected_sessions': 6}]

In [9]:
attendance = pd.DataFrame(attendance_raw)

In [11]:
attendance

   student_id cohort  attended_sessions  expected_sessions
0        S001  gamma                  2                  6
1        S002   beta                  4                  6
2        S003  alpha                  4                  6
3        S004  gamma                  4                  6
4        S005   beta                  5                  6
5        S006  alpha                  0                  6
6        S007  alpha                  5                  6
7        S008   beta                  1                  6
8        S009   beta                  4                  6
9        S010   beta                  4                  6
10       S011  alpha                  5                  6
11       S012  gamma                  0                  6
12       S013  gamma                  1                  6
13       S014  alpha                  3                  6
14       S015  gamma                  2                  6
15       S016   beta                  5                  6
16       S017   beta                  3                  6
17       S018   beta                  1                  6
18       S019   beta                  5                  6
19       S020   beta                  2                  6
20       S021  alpha                  2                  6
21       S022   beta                  5                  6
22       S023  gamma                  1                  6
23       S024  alpha                  2                  6

In [13]:
attendance.head()

  student_id cohort  attended_sessions  expected_sessions
0       S001  gamma                  2                  6
1       S002   beta                  4                  6
2       S003  alpha                  4                  6
3       S004  gamma                  4                  6
4       S005   beta                  5                  6

In [15]:
attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         24 non-null     object
 1   cohort             24 non-null     object
 2   attended_sessions  24 non-null     int64
 3   expected_sessions  24 non-null     int64
dtypes: int64(2), object(2)
memory usage: 900.0+ bytes

# Task 2
Set student_id as the index and store the result in attendance_indexed. Create a Series named excused_absences with at least 10 student IDs (some IDs must not exist in the DataFrame). Add this Series to attended_sessions to create a new column adjusted_attendance. Confirm that rows without matching IDs become missing in adjusted_attendance. Then fill missing values in adjusted_attendance with the original attended_sessions and show the updated column.

In [19]:
attendance_indexed = attendance.set_index("student_id")

In [39]:
excused_absences = pd.Series(
    [1,2,1,3,2,1,4,2,1,3],
    index=["S001","S003","S005","S007","S009",
           "S011","S013","S015","S999","S888"],
    name="excused_absences"
)

print(excused_absences)

S001    1
S003    2
S005    1
S007    3
S009    2
S011    1
S013    4
S015    2
S999    1
S888    3
Name: excused_absences, dtype: int64

In [41]:
attendance_indexed['adjusted_attendance'] = attendance_indexed['attended_sessions'] + excused_absences

In [43]:
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  2                  6                  3.0
S002         beta                  4                  6                  NaN
S003        alpha                  4                  6                  6.0
S004        gamma                  4                  6                  NaN
S005         beta                  5                  6                  6.0
S006        alpha                  0                  6                  NaN
S007        alpha                  5                  6                  8.0
S008         beta                  1                  6                  NaN
S009         beta                  4                  6                  6.0
S010         beta                  4                  6                  NaN
S011        alpha                  5                  6                  6.0
S012        gamma                  0                  6                  NaN
S013        gamma                  1                  6                  5.0
S014        alpha                  3                  6                  NaN
S015        gamma                  2                  6                  4.0
S016         beta                  5                  6                  NaN
S017         beta                  3                  6                  NaN
S018         beta                  1                  6                  NaN
S019         beta                  5                  6                  NaN
S020         beta                  2                  6                  NaN
S021        alpha                  2                  6                  NaN
S022         beta                  5                  6                  NaN
S023        gamma                  1                  6                  NaN
S024        alpha                  2                  6                  NaN

In [45]:
attendance_indexed["adjusted_attendance"] = (
    attendance_indexed["adjusted_attendance"]
    .fillna(attendance_indexed["attended_sessions"])
)

In [47]:
attendance_indexed

           cohort  attended_sessions  expected_sessions  adjusted_attendance
student_id
S001        gamma                  2                  6                  3.0
S002         beta                  4                  6                  4.0
S003        alpha                  4                  6                  6.0
S004        gamma                  4                  6                  4.0
S005         beta                  5                  6                  6.0
S006        alpha                  0                  6                  0.0
S007        alpha                  5                  6                  8.0
S008         beta                  1                  6                  1.0
S009         beta                  4                  6                  6.0
S010         beta                  4                  6                  4.0
S011        alpha                  5                  6                  6.0
S012        gamma                  0                  6                  0.0
S013        gamma                  1                  6                  5.0
S014        alpha                  3                  6                  3.0
S015        gamma                  2                  6                  4.0
S016         beta                  5                  6                  5.0
S017         beta                  3                  6                  3.0
S018         beta                  1                  6                  1.0
S019         beta                  5                  6                  5.0
S020         beta                  2                  6                  2.0
S021        alpha                  2                  6                  2.0
S022         beta                  5                  6                  5.0
S023        gamma                  1                  6                  1.0
S024        alpha                  2                  6                  2.0

# Task 3
Introduce a small inconsistency by modifying a few cohort values to include extra whitespace and inconsistent casing. Then write pandas code to normalize the cohort column by stripping whitespace and converting to lowercase. After cleaning, display the unique cohorts to confirm that the inconsistencies are resolved.

In [68]:
attendance_indexed.loc['S019', 'cohort'] = ' gamma'

In [70]:
attendance_indexed.loc['S013', 'cohort'] = ' bEta '

In [82]:
attendance_indexed['cohort'] = attendance_indexed['cohort'].str.strip().str.lower()

In [84]:
attendance_indexed['cohort'].unique()

array(['gamma', 'beta', 'alpha'], dtype=object)

# Task 4
Filter the DataFrame to students where attended_sessions is below expected_sessions. Store the result in low_attendance. Compute the average attended_sessions by cohort using groupby. Print the summary and verify that cohorts in the summary match the cleaned cohorts.

In [110]:
low_attendance = attendance_indexed.loc[attendance_indexed['attended_sessions'] < attendance_indexed['expected_sessions']]

In [112]:
low_attendance

,cohort,attended_sessions,expected_sessions,adjusted_attendance,attendance_ok
student_id,,,,,
S001,gamma,2,6,3.0,False
S002,beta,4,6,4.0,False
S003,alpha,4,6,6.0,False
S004,gamma,4,6,4.0,False
S005,beta,5,6,6.0,False
S006,alpha,0,6,0.0,False
S007,alpha,5,6,8.0,False
S008,beta,1,6,1.0,False
S009,beta,4,6,6.0,False
S010,beta,4,6,4.0,False
S011,alpha,5,6,6.0,False
S012,gamma,0,6,0.0,False
S013,beta,1,6,5.0,False
S014,alpha,3,6,3.0,False
S015,gamma,2,6,4.0,False
S016,beta,5,6,5.0,False
S017,beta,3,6,3.0,False
S018,beta,1,6,1.0,False
S019,beta,5,6,5.0,False
S020,beta,2,6,2.0,False
S021,alpha,2,6,2.0,False
S022,beta,5,6,5.0,False
S023,gamma,1,6,1.0,False
S024,alpha,2,6,2.0,False

In [94]:
avg_att = attendance_indexed.groupby(['cohort'])['attended_sessions'].mean()

In [96]:
print(avg_att)

cohort
alpha    3.000000
beta     3.333333
gamma    1.800000
Name: attended_sessions, dtype: float64

In [98]:
summary_cohorts = set(avg_att.index)
data_cohorts = set(attendance_indexed['cohort'].unique())

print("\nValidation:")
print("Cohorts match:", summary_cohorts == data_cohorts)

Validation:
Cohorts match: True

# Task 5
Create a new column attendance_ok that is True when attended_sessions is at least expected_sessions, otherwise False. Use a boolean comparison rather than a loop. Then validate the column by confirming that every row in low_attendance has attendance_ok equal to False.

In [102]:
 attendance_indexed['attendance_ok'] = (attendance_indexed['attended_sessions'] >= attendance_indexed['expected_sessions'])

In [116]:
all_ok = (low_attendance['attendance_ok'] == False).all()
print(all_ok)

True